body {
  font-size: 2rem;
}

table {
  margin: auto;
}

table, td {
  border: 1px solid rgb(100, 100, 100);
  border-collapse: collapse;
}

tr:nth-child(1), td:nth-child(1)  {
  background-color: rgb(226, 222, 222);
  text-align: center;
}

tr td.texto-defecto {
  text-align: inherit;
}

.informe {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background-color: rgb(255, 214, 197);
  padding: 0 50px;
}

.banco {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(255, 255, 100);
}

tr:nth-child(5) {
  background-color: rgb(225, 255, 245);
}

td:nth-child(3) {
  text-align: right;
}
td:nth-child(4) {
  text-align: right;
}

tr:last-child {
  background-color: rgb(65, 195, 255);
}